Package: com.ichitaso.bottomcontrolx
Name: BottomControlX
Depends: firmware (>= 11.0), mobilesubstrate, preferenceloader
Conflicts: com.xcxiao.bottomcontrolx
Replaces: com.xcxiao.bottomcontrolx
Version: 1.0.1+panel5
Architecture: iphoneos-arm
Description: iOS 15 roothide 底部上滑快捷面板
Maintainer: ichitaso
Author: ichitaso/XCXiao
Section: Tweaks
Depiction: https://cydia.ichitaso.com/depiction/bottomcontrolx.html
SileoDepiction: https://cydia.ichitaso.com/depiction/bottomcontrolx.json
Homepage: https://ichitaso.com
dev: ichitaso/XCXiao
Icon: https://raw.githubusercontent.com/ichitaso/file/refs/heads/main/images/BottomControlX/Icon%403x.png
