Package: com.mox1121.shortcutpanel
Name: 侧边捷径
Depends: firmware (>= 11.0), mobilesubstrate, preferenceloader
Conflicts: com.xcxiao.bottomcontrolx, com.ichitaso.bottomcontrolx
Replaces: com.xcxiao.bottomcontrolx, com.ichitaso.bottomcontrolx
Version: 1.0.1+panel37
Architecture: iphoneos-arm
Description: iOS 15 roothide 侧边手柄快捷面板 ShortcutPanel
Maintainer: moxuan1121
Author: ichitaso/XCXiao; ShortcutPanel modifications by moxuan1121
Section: Tweaks
